[submodule "plugins/sfHadoriThemePlugin"]
	path = plugins/sfHadoriThemePlugin
	url = git@github.com:bshaffer/sfHadoriThemePlugin.git
[submodule "plugins/sfThemeGeneratorPlugin"]
	path = plugins/sfThemeGeneratorPlugin
	url = git@github.com:bshaffer/sfThemeGeneratorPlugin.git
[submodule "plugins/csDoctrineActAsSortablePlugin"]
	path = plugins/csDoctrineActAsSortablePlugin
	url = git://github.com/bshaffer/csDoctrineActAsSortablePlugin
